@import url(https://fonts.googleapis.com/css?family=Oswald|Open+Sans);
* {
  font-family: Open Sans; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

li {
  list-style: none; }

img {
  max-width: 100%; }

.home ul {
  padding: 0%;
  background-color: #D0D0D0;
  border-radius: 10px; }
  .home ul .boton-negro {
    background: black;
    padding: 5px;
    border-radius: 10px 0px 0px 10px; }
    .home ul .boton-negro a {
      color: white; }
      .home ul .boton-negro a:hover {
        background: #333333; }
  .home ul li {
    display: inline-block; }
    .home ul li a {
      padding: 5px;
      color: black;
      font-size: 12px; }
      .home ul li a:hover {
        background-color: #b7b7b7; }

/* Column */
.margin-bt {
  margin-top: -390px;
  margin-bottom: -125px; }

.column h2 {
  color: black;
  font-size: 40px;
  font-weight: bold; }
.column p {
  text-transform: uppercase;
  color: #667283;
  font-size: 17px; }
.column a {
  color: #9B4030;
  text-decoration: none;
  font-size: 17px; }

.titulos {
  border: 2px solid #DBDBDB;
  margin: 10px 0 20px 5px;
  padding: 10px; }
  .titulos p {
    text-align: center;
    font-size: 12px; }
  .titulos h1 {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 32px; }
  .titulos .pd-btm {
    margin-bottom: 54px; }
  .titulos .blog {
    background-color: #dde0e4;
    color: #1f1f1f;
    padding: 5px;
    padding-bottom: 27px; }
    .titulos .blog img {
      width: 30%;
      box-shadow: black 0px 2px 5px;
      float: left;
      margin: 10px;
      border: 2px solid white; }
    .titulos .blog h4 {
      font-size: 12px; }
    .titulos .blog h2 {
      color: #576571;
      padding-bottom: 10px;
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      margin-top: 0px; }

.btn-column h2 {
  text-align: center;
  background-color: #941F19;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px; }
  .btn-column h2:hover {
    background-color: red; }
  .btn-column h2 a {
    color: white;
    text-decoration: none; }

.td-column {
  width: 100%;
  margin-top: 10px; }
  .td-column p {
    margin-left: -0px; }
  .td-column ul {
    background-color: #941F19;
    padding-left: 5px; }
  .td-column li {
    padding: 15px 30px; }
    .td-column li .let-white {
      color: white; }
    .td-column li .active {
      background-color: #5F160C;
      padding: 5px;
      border-radius: 5px; }
    .td-column li .active-2 {
      background-color: #B41E15;
      padding: 5px;
      border-radius: 5px; }
    .td-column li a {
      text-decoration: none;
      font-weight: bold; }
      .td-column li a:hover {
        background-color: red;
        border-radius: 5px; }

.columnistas {
  background-color: #DDE0E4;
  margin-top: 10px;
  padding: 5px;
  padding-bottom: 27px; }
  .columnistas:hover {
    background-color: white;
    border: 1px solid #DBDBDB; }
  .columnistas img {
    width: 30%;
    box-shadow: black 0px 2px 5px;
    float: left;
    margin: 10px;
    border: 2px solid white; }
  .columnistas h4 {
    font-size: 12px; }
  .columnistas h2 {
    font-weight: bolder;
    font-size: 12px;
    color: #859099; }

footer {
  background-color: #DDE0E4;
  padding: 25px; }
  footer .footer-republic {
    float: right; }
    footer .footer-republic h4 {
      font-size: 14px;
      font-weight: bolder; }
    footer .footer-republic p {
      font-size: 12px; }
    footer .footer-republic .derechos-reservados {
      font-size: 12px; }
  footer .lista-footer {
    border-left: 2px solid white; }
    footer .lista-footer ul {
      display: inline-block;
      font-size: 12px; }
  footer .lista-final-footer {
    border-top: 2px solid white; }
    footer .lista-final-footer li {
      padding: 3px;
      display: inline-block;
      font-size: 10px;
      border-right: 1px solid gray; }

header {
  background-color: #D0D0D0;
  padding: 1% 0% 2% 0%;
  border-bottom: 1px solid #7C7C7C; }
  header ul {
    padding: 0%; }
    header ul li {
      display: inline-block;
      font-size: 10px;
      padding: 5px; }
  header .botones {
    padding: 1%; }
    header .botones .suscribete {
      background-color: #B61D1D;
      color: white;
      padding: 4px;
      border-radius: 7px; }
      header .botones .suscribete:hover {
        background-color: #8a1616;
        color: white;
        font-weight: bold; }
    header .botones .fa-facebook {
      font-size: 18px;
      color: #151493;
      padding: 5px; }
      header .botones .fa-facebook:hover {
        font-weight: bold;
        color: #080839; }
    header .botones .fa-twitter {
      font-size: 18px;
      color: #4EB5D6;
      padding: 5px; }
      header .botones .fa-twitter:hover {
        font-weight: bold;
        color: #247e9a; }
    header .botones .fa-google-plus {
      font-size: 18px;
      color: #B61D1D;
      padding: 5px; }
      header .botones .fa-google-plus:hover {
        font-weight: bold;
        color: #5e0f0f; }
    header .botones .fa-envelope {
      font-size: 18px;
      color: #FCCC50;
      padding: 5px; }
      header .botones .fa-envelope:hover {
        font-weight: bold;
        color: #e2a404; }
    header .botones .fa-rss {
      font-size: 18px;
      color: #F66B23;
      padding: 5px; }
      header .botones .fa-rss:hover {
        font-weight: bold;
        color: #ac3f07; }
    header .botones .search {
      background-color: transparent;
      border-left: 1px solid black;
      border-right: 1px solid black;
      padding: 5px;
      font-weight: bold; }
      header .botones .search:hover {
        background-color: #b7b7b7; }

section {
  padding: 2% 0% 2% 0%; }

nav .container {
  background-color: #B61D1D; }
  nav .container ul {
    padding: 0%;
    margin-bottom: 0%;
    text-align: center; }
    nav .container ul li {
      display: inline-block;
      padding: 10px 5px 5px 5px; }
      nav .container ul li a {
        color: white;
        font-family: Oswald;
        padding: 8px 8px 5px 8px; }
        nav .container ul li a i {
          padding: 5px; }
        nav .container ul li a:hover {
          text-decoration: none;
          background-color: #741212;
          font-weight: bold; }

/*# sourceMappingURL=main.css.map */
