//**desde aqui trabaja home**//
.home{
	ul{
		padding: 0%;
		background-color: $main-gray;
		border-radius: 10px;
		.boton-negro{
			background: black;
			padding: 5px;
			border-radius: 10px 0px 0px 10px;
			a{
				color: white;
				&:hover{
					background: lighten(black, 20%);
				}
			}
		}
		li{
			display: inline-block;
			a{
				padding:5px;
				color: black;
				font-size: 12px;
				&:hover{
					background-color: darken($main-gray, 10%);
				}
			}
		}
	}
	h1{
		font-weight: bold;
		text-align: center;
		font-size: 50px;
	}
	.cambiar{
		width: 100%;
		margin-top: 20px;
	}
	.imagenes-iconos{
		text-align: center;
		ol{
			li{
				display: inline-block;
				a{
					padding: 5px;
					color: black;
					font-size: 12px;
				}
			}
		}
	}
	.columnistas{
		background-color: $main-gray;
		border-top: 5px solid $main-red;
		margin: 2% 0% 2% 0%;
		text-align: center;
		h5{
			padding: 10px;
			color: white;
			background-color: $main-red;
			margin: -10px 40% 0% 40%;
			font-weight: bold;
			font-family: oswald;
			font-size: 20px;
		}
		img{
			width:100%;
		}
		h6{
			font-size: 10px;
		}
		p{
			font-weight: bold;
			font-size: 11px;
		}
		.puntos{
			i{
				color: $main-red;
			}
		}
	}
	.banners{
		.photos-noticias{
			img{
				margin-bottom: 20px;
				height: 280px;
			}
		}
		img{
			width: 100%;
		}
	}
	.news{
		border-bottom: 1px solid $main-gray;
		.noticias-iconos{
			ol{
				padding:0%;
				li{
					text-align: left;
					display: inline-block;
					a{
						padding: 3px;
						.fa-youtube-play{
							@include colores-iconos($main-red);
						}
						.fa-camera{
							@include colores-iconos($main-red);
						}
					}
				}
			}
		}
	}
	.dashed{
		border-right: 5px dotted $main-gray;
		border-bottom: 5px dotted $main-gray;
		border-left: 5px dotted $main-gray;
		text-align: center;
		.muevete{
			margin-top: -25px;
			width: 20%;
			height: 20%;
		}
		img{
			width: 100%;
			height: 40px;
		}
		span{
			font-weight: bold;
		}
		input{
			width: 80%;
			background-color: $main-gray;
			&:focus{
				font-weight: bold;
				font-family: oswald;
			}
		}
		button{
			@include botones-simples(80%, $main-red, 5px 0px 10px 0px);
		}
	}
}
//**fin home**//