$main-gray: #D0D0D0;
$main-red: #B61D1D;
$flechas-rojas: #902D1E;
$bg-column: #DDE0E4;
$border: #DBDBDB;
$bg-red: #941F19;
$lista-red: #9C2213;
$letra-column: #859099;
$active-list: #5F160C;
$active-list-2: #B41E15;